.required-indicator {
	color: #f00;
}

.invoice_item_row, .invoice_item_row_header {
    border-bottom: 1px solid #efefef;
    min-height: 32px;
}

.invoice_item_row_header label {
    font-weight: bold;
}

.invoice_item_row_pending label {
    color: #d3ded3;
    font-style: italic;
}

#btn_edit_card {
    width: 100%;
}

#tou_wrapper {
    background: #fff1a0;
    border: 1px solid #f9dd34;
}

#new_order_callout
{
	margin-top: 12.75px;
}

#btn_new_order
{
	margin: 0;
}

#thank_you_cta_callout
{
	margin-top: 12.75px;
}

#btn_thank_you_cta {
    margin: 0;
}

#iframe_review {
    height: 98%;
    width: 98%;
    min-height: 760px;
}

.chromeless #header, .chromeless #footer {
    display: none;
}

@media only screen and (max-width: 767px)
{
    .invoice_item_row_header {
        display: none;
    }

	.text-right-small-only {
        text-align: right;
    }
}